# Coverage
.coverage
htmlcov/

# Test cache
.pytest_cache/
pytest.log

# Python cache
__pycache__/
*.py[cod]

# Logs
logs/*
!logs/.gitkeep

# User storage
storage/users/*
!storage/users/.gitkeep

# Temporary storage
storage/temp/*
!storage/temp/.gitkeep

# Trash
storage/trash/*
!storage/trash/.gitkeep

# Database
database/*.db
!database/.gitkeep

# Local terminal recording
log.txt

# Virtual Environment
venv/
.env
