{% extends "base.html" %}

{% block content %}

<h2>Folders</h2>

{% if path %}

<p>

{% for folder in path %}

    {{ folder.name }}

    {% if not loop.last %}
        /
    {% endif %}

{% endfor %}

</p>

{% endif %}

{% if current_folder %}

<h3>Upload File</h3>

<form
    method="POST"
    action="{{ url_for(
        'folders.upload',
        folder_id=current_folder.id
    ) }}"
    enctype="multipart/form-data"
>

    <input
        type="file"
        name="file"
        required
    >

    <button type="submit">
        Upload
    </button>

</form>

{% endif %}

<p>
    <a href="{{ url_for('folders.create') }}">
        Create Folder
    </a>
</p>

<ul>

{% for folder in folders %}

<li>

    {{ folder.name }}

    <a href="{{ url_for('folders.rename', folder_id=folder.id) }}">
        Rename
    </a>

    <form
        method="POST"
        action="{{ url_for('folders.delete', folder_id=folder.id) }}"
        style="display:inline"
    >

        <button type="submit">

            Delete

        </button>

    </form>

</li>

{% else %}

<li>No folders.</li>

{% endfor %}

</ul>

<h3>Files</h3>

<ul>

{% for file in files %}

<li>

    {{ get_file_icon(file.file_extension) }}

    <strong>{{ file.original_name }}</strong>

    <br>

    <small>
        {{ get_file_type(file.file_extension) }}
    </small>

    <br>

    <small>

        {{ file.created_at | human_datetime }}

    </small>

    <br>

    <small>
        {{ format_file_size(file.file_size) }}
    </small>

    <br>

    <a href="{{ url_for('files.download', file_id=file.id) }}">
        Download
    </a>

    |

    <a href="{{ url_for('files.rename', file_id=file.id) }}">
        Rename
    </a>

    |

    <form
        method="POST"
        action="{{ url_for('files.delete', file_id=file.id) }}"
        style="display:inline"
    >

        <button type="submit">
            Delete
        </button>

    </form>

</li>

{% else %}

<li>No files.</li>

{% endfor %}

</ul>

{% endblock %}
